
.container{
	width: 1200px;
	height: 500px;
	margin: 50px auto;
	position: relative;
}

.container img{
	width: 1200px;
	height: 500px;
}
ul li a {
	display: block;
}
#msg{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	position: absolute;
	bottom: -40px;
	left: 0;
	color: white;
	font-size: 16px;
	background: #fff;
	cursor: pointer;
	z-index: 1;
}
h{
	width: 30px;
	height: 45px;
	line-height: 45px;
	font-size: 40px;
	color: #f8a120;
	background: rgba(255, 255, 255, 0.53);
	cursor: pointer;
	position: absolute;
	font-weight: bold;
	top: 50%;
	left: 0;
}
#rtBtn{
	right: 0;
	left: auto;
}
ol{
	position: absolute;
	bottom: -24px;
	left: 50%;
	background: white;
	padding: 3px;
	z-index: 2;
}
ol li{
	background: #999999;
	float: left;
	width: 10px;
	height: 5px;
	margin-left: 10px;
	
}
.center{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.center-list{
	margin-top: 97px;
	width: 1300px;
	line-height: 1;
	font-size: 16px;
}
.center-list a{
	float: left;
	margin-right: 20px;
	margin-bottom: 100px;
	width: 580px;
	height: 450px;
}
.center-list img{
	width: 100%;
	height: 100%;
}
.center-list h3{
	font-size: 26px;
	font-weight: 100;
	margin: 20px 0 12px
}
.like{
	margin: 80px auto;
	position: relative;
	top: 30px;
}
.like img{
	float: left;
	width: 220px;
	margin-right: 94px;
}
.like ul{
	height: 310px;
	line-height: 1;
}

.title{
	position: relative;
}
.title span {
    display: inline-block;
    width: 160px;
    line-height: 1;
    font-size: 26px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 50%;
    margin: -13px 0 0 -80px;
}
 
