body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
body{
	background: url(../img/login_03.jpg) no-repeat center top;
}
#top{
	width: 100%;
	height: 70px;
	background: #000;
	overflow: hidden;
}
.top_box{
	width: 990px;
	margin: 0 auto;
}
.logo{
	float: left;
	width: 30px;
}
nav{
	float: right;
}
nav a{
	display: inline-block;
	float: left;
	font-size: 12px;
	color: #999;
	padding: 0 10px;
	line-height: 70px;
}
#center{
	width: 100%;
	height: 720px;
}
.center_box{
	width: 990px;
	height: 720px;
	margin:0 auto;
}

.r_center{
	display: block;
	width: 310px;
	float: right;
	background: #fff;
	margin-top:80px;
	font-size: 12px;
	padding: 30px 35px;
	position: relative;
}
footer{
	width: 100%;
	height: 455px;
	background: #f6f6f6;
	border-top: 1px solid #FFFFFF;
}
footer .box2{
	width: 1200px;
	height: 136px;
	margin: 0 auto;
	padding-top: 70px;
	
}

footer ul li{
	width: 236px;
	height: 136px;
	line-height: 34px;
	float: left;
}
footer ul li a{
	display: block;
	font-size: 14px;
	color: inherit;
}
.footer{
	margin-top: 25px;
	line-height: 36px;
	margin-left:30px ;
}
.footer p{
	font-size:14px;
	line-height: 36px;
}
.footer .bq{
	display: block;
	width: 1200px;
	line-height: 36px;
	height: 36px;
	
}
.footer .bq img{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
}
.footer .bq span {
	margin-right: 28px;
	font-size:14px;
	float: left;
}
.pic{
	margin-top: 8px;
  }
.pic a img{
	float: left;
	margin-right: 20px;
	width: 108px;
	height: 40px;
}
footer a:hover{
	color: #f8a120;
}
